<a href="https://colab.research.google.com/github/Sharantradii/sharan_mysql/blob/main/python%20sharan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
username = input ("enter the username")
password = input ("enter the password")
if (username =="sharan"and password == "dumeel12"):
  print("login successful")
else :
    print ("the credential is wrong")

enter the usernamesharan
enter the passworddumeel12
login successful

In [2]:
oddnum = [i for i in range (100)if i % 3 == 0 ]
print(oddnum)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [3]:
evennum = [i for i in range (100)if i % 2 == 0 ]
print(evennum)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [4]:
fruits= ['dragonfruit','rasberry','kiwi','mangoose', 'watermelon','raseberry']
for fruit in fruits :
    print (fruit)

dragonfruit
rasberry
kiwi
mangoose
watermelon
raseberry